body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
  }
  
  .radio-player {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .player-container {
    padding: 20px;
  }
  
  #artwork {
    max-width: 100%;
    border-radius: 5px;
  }
  
  #song-title {
    font-size: 18px;
    margin-top: 10px;
    color: #333;
  }
  
  #controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  #play, #pause {
    cursor: pointer;
    font-size: 24px;
    margin: 0 10px;
    color: #333;
  }
  
  audio {
    width: 100%;
    background-color: #333;
    color: #fff;
    border: none;
  }
  
  